<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <style>
        *{
          padding:0;
          margin:0;
          box-sizing: border-box;  
        }
        .container{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            justify-content: center;
            align-items: center;
        }
        .content{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 0 25px;
        }
        .judul{
            padding: 20px 0;
            font-size: 2em;
            text-transform: capitalize;
        }
        .col{
            width: 100%;
            border: 1px solid gray;
            padding: 25px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .col p{
            font-size: .8vw;
        }
        .col h1{
            font-size: 2.5vw;
            font-weight: 900;
        }
       .col a{
    font-size: 1em;
    text-decoration:none;
    text-transform: capitalize;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: greenyellow;
    cursor: pointer;
    text-align: center;
    color: black;
}
.col a:hover{
    opacity: .8;
    margin-top: 15px;
}
        .back{
            position:absolute;
            top: 30px;
            left: 30px;
            font-size: 1.5em;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <h3 class="judul">edit menu</h3>
        <a href="/dashboard" class="back"><i class="fa-solid fa-arrow-left"></i></a>
        <div class="content">
            <% for(let i=0; i<getBlogs.length; i++) {%>
                <div class="col">
                    <p><%= getBlogs[i].dateCreate%></p>
                    <h1><%= getBlogs[i].tittle%></h1>
                    <b><%= getBlogs[i].subject%></b>
                    <p><%= getBlogs[i].content%></p>
                    <a href="/editData/<%=getBlogs[i]._id%>">edit</a>
                </div>
         <%} %>
        </div>
    </div>
</body>
</html>